@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* aos custom style*/
[data-aos="fade-up"] {
    transform: translateY(20px);
}
/* aos custom style ends*/

:root{
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Metrophobic', sans-serif;

    --primary-color: #6856e6;
    --dark-color: #1F2122;
    --dark-bg: #121212;
    --light-bg:#FFFEFD;

    --transition: all .5s cubic-bezier(0.41, 0.01, 0.23, 0.97);
    --fast-transition: all .3s cubic-bezier(0.41, 0.01, 0.23, 0.97);

    --img-primary: brightness(0) saturate(100%) invert(28%) sepia(59%) saturate(1942%) hue-rotate(230deg) brightness(106%) contrast(91%);    
    --img-light: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7473%) hue-rotate(86deg) brightness(101%) contrast(98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--primary-font);       
    scroll-behavior: smooth; 
}
body{
    background: var(--light-bg);
}
a{
    text-decoration: none;
    color: inherit;
}
img{    
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: var(--fast-transition);
}
.btn-secondary, .btn-primary{
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 6px 18px;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 60px;
    margin-top: 24px;
    padding: 0 24px;
    background: var(--primary-color);
    position: relative;
    overflow: hidden;    
    z-index: 1;
    transition: var(--transition);
    color: white;
}
.btn-secondary img, .btn-primary img{
    filter: invert(1);
}
.btn-primary::after{
    content: "";
    position: absolute;
    top: 100%;
    transform: translate(50%, 0);
    right: 50%;
    height: 150px;
    width: calc(100% + 100px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background:var(--light-bg);    
    transition: var(--fast-transition);
    z-index: -1;
}
.btn-primary:hover{
    color: var(--primary-color);
}
.btn-primary:hover img{
    filter: var(--img-primary);
}
.btn-primary:hover::after{
    top: -25%;
}
.btn-secondary{    
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
}      
.btn-secondary::after{    
    content: '';
    background: var(--light-bg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: var(--transition);    
    z-index: -1;
    scale: 0;
    border-radius: 50%;    
}      
.btn-secondary:hover{
    color: var(--primary-color);
}
.btn-secondary:hover img{
    filter: var(--img-primary);
}
.btn-secondary:hover::after{ 
    scale: 1;   
}
section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;    
    padding: 20px 0;    
}
.underline{
    margin: 25px 0 20px;
    height: 2px;
    border-radius: 25px;
    width: 100%;
    background: var(--dark-bg);
    opacity: .3;
}
/* navigation */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 1000;
    transition: var(--fast-transition);
    color: white;
    padding: 0 20px;
}
nav.scrolled{
    height: 70px;
    background: var(--light-bg);
    border-bottom: 1px solid #D9D9D9;;
}
nav.scrolled .menu, nav.scrolled .btn-get-in-touch, nav.scrolled .logo{
    color: black;
}
nav.scrolled .btn-get-in-touch .image-wraper img{
    filter: invert(1);
}
.navigation{
    height: 100%;
    max-width: 1300px;
    width: 100%;    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;    
}
.navigation .menu{
    display: flex;
    /* width: 100%; */
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    column-gap: 50px;
}
.navigation .menu a{
    text-transform: capitalize;
}
.navigation .logo{
    height: 30px;
    width: fit-content;
}
.navigation .btn-get-in-touch{        
    width: fit-content;
    white-space: nowrap;
    display: flex;
    align-items: center;    
    padding: 8px 18px;
    border-radius: 12px;
}
.navigation .btn-get-in-touch .image-wraper{    
    height: 35px;
    width: 35px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;    
    margin-right: 10px;
    padding: 10px;    
    overflow: hidden;
    position: relative;    
    background: var(--primary-color);
}
.navigation .btn-get-in-touch .image-wraper img{    
    position: absolute;
    height: 15px;
    width: 15px;
    aspect-ratio: 1/1;        
    transition: var(--transition);
    
}
.navigation .btn-get-in-touch .image-wraper img:nth-child(1){
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    opacity: 1;
}
.navigation .btn-get-in-touch .image-wraper img:nth-child(2){
    top: 50%;
    left: -50%;    
    transform: translate(-50%, -50%);
    opacity: 0;
}
.navigation .btn-get-in-touch:hover .image-wraper img:nth-child(1){    
    left: 150%;    
    opacity: 0;
}
.navigation .btn-get-in-touch:hover .image-wraper img:nth-child(2){    
    left: 50%;    
    opacity: 1;
}
.hamburger-menu{    
    justify-self: flex-end;
    align-self: center;
    display: none;    
    height: 30px; 
}
.hamburger-menu svg{
    fill: var(--light-bg);
}
.scrolled .hamburger-menu svg{
    fill: var(--dark-bg);
}
@media (max-width: 1024px){
    nav{
        height: 70px;
    }
    nav.scrolled{
        height: 60px;
    }
    .navigation{
        grid-template-columns: 1fr 1fr;
    }
    .navigation .menu, .navigation .btn-get-in-touch{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}
@media (max-width: 768px){
    .navigation .logo{
        height: 25px;
    }
    .underline {
        margin: 15px 0 20px;
    }
}
/* navigation ends*/

/* hero section */
.hero-bg{
    position: absolute;    
    top: 20%;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 1;
    height: 200%;
    width: 120%;
    background-color: transparent;
    opacity: 0.1;
    background-image:  linear-gradient(#6856e6 1px, transparent 1px), linear-gradient(to right, #6856e6 1px, var(--dark-bg) 1px);
    background-size: 40px 40px;    
    border-radius: 60%;
    -webkit-box-shadow: inset 0.5px 0 220px 100px #121212;
    -moz-box-shadow: inset 0.5px 0 220px 100px #121212;
    box-shadow: inset 0.5px 0 220px 100px #121212;
}
.hero-section{
    position: relative;
    overflow: hidden;
    background:var(--dark-bg);
    color: white;
    padding-bottom: 80px;
}
.hero-section section{
    margin-top: 100px;
    padding-bottom: 0;
}
.hero-banner{
    text-align: center;
    position: relative;
    z-index: 2;
}
.hero-banner h1{
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    font-size: clamp(2.2rem, 4vw, 3.2rem);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: clamp(2rem, 4vw, 5rem);
    font-family: var(--primary-font);
}
.hero-banner h3{
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}
.hero-banner .action-buttons{
    width: fit-content;
    margin: 20px auto;
    display: flex;
    column-gap: 20px;    
}
.hero-banner .mockup{
    max-width: clamp(900px, 95%, 1200px);
    margin: 90px auto 0;
    width: 100%;
    height: clamp(400px, 600px, 700px);    
    position: relative;
}
.hero-banner .mockup [data-id]{
    position: absolute;    
}
.hero-banner .mockup .desktop{
    position: absolute;
    right: 20px;
    bottom: 0;    
    width: 90%;
    height: fit-content;
}
.hero-banner .mockup .mobile{
    position: absolute;
    bottom: 0px;
    left: 8%;
    /* height: 70%; */    
    width: clamp(100px, 200px, 20%);
}
[data-id]{    
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    padding: 6px 18px;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;    
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 60px;
    margin-top: 24px;
    padding: 0 24px;
    background: var(--primary-color);
    transition: var(--transition);    

    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); } /* Move up */
    100% { transform: translateY(0); } /* Move back down */
}
[data-id]::after{
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: var(--img-primary);
}
[data-id='2']{
    top: -100px;
    right: 90px;
    animation-delay: .5s;
}
[data-id='2']::after{
    background-image: url(./assets/icons/curved-arrow-1.png);
    transform: rotate(140deg) scaleX(-1);
    top: 60%;
    right: -50px;
}
[data-id='3']{
    top: 176px;
    right: -30px;
    animation-delay: 1s;
}
[data-id='3']::after{
    background-image: url(./assets/icons/curved-arrow-4.png);
    transform: rotate(180deg) scaleX(-1);
    top: 109%;
    right: 50px;
}
[data-id='4']{
    top: -70px;
    left: -100px;
}
[data-id='4']::after{    
    right: -75%;
    top: -25%;
    background-image: url(./assets/icons/curved-arrow-2.png);
    transform: rotate(45deg);
}

@media (max-width: 1024px) {
    section.hero-banner{
        margin-top: 80px;
    }
    .hero-banner h1{
        max-width: 85%;
    }
    .hero-banner .mockup{
        margin-top: 50px;
    }
    .hero-banner .mockup{
        max-width: clamp(600px, 85%, 1200px);
        height: clamp(400px, 450px, 550px);          
    }
}
@media (max-width:700px){
    .mockup{
        display: none;
    }
    .hero-section{
        padding-bottom: 40px;
    }
    .hero-banner h3{
        max-width: 75%;
        font-size: 1rem;
    }
    .btn-secondary, .btn-primary {
        height: 40px;
        margin-top: 18px;
        padding: 0 15px;
        font-size: .8rem;
    }
}
/* hero section end */


.main-section-contents{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0 20px;
}
.main-section-contents .heading{ 
    font-size: clamp(1rem, 4vw, 1.3rem);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;    
    font-family: var(--primary-font);
    opacity: .8;    
}
.main-section-contents .title{
    max-width: 70%;
    width: 100%;    
    font-size: clamp(1.6rem, 4vw, 3.2rem);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 60px;    
    font-family: var(--primary-font);
}
.main-section-contents .title .focus-1{    
    position: relative;    
    overflow: show;
}
.main-section-contents .title .focus-1::after{    
    content: "";
    position: absolute;
    top: 85%;    
    right: 0;
    /* height: 100%; */
    height: 20%;
    width: 100%;
    background-image: url(./assets/icons/underline.webp);
    background-size:100% 100%;
    background-repeat: no-repeat;
    filter: var(--img-primary);
}
.main-section-contents .title .focus-bold{
    text-transform: capitalize;
    color: var(--primary-color);
}
@media (max-width: 768px){
    .main-section-contents {
        margin-top: 2rem;
    }
    .main-section-contents .heading{
        font-size: clamp(1rem, 4vw, 1.2rem);
        margin-bottom: 10px;
    }
    .main-section-contents .title{
        max-width: 90%;
        margin-bottom: 22px;        
    }
}

/* what-we-offer section */
.what-we-offer{
    color: var(--dark-color);    
    margin-top: 120px;
}
.what-we-offer .card-contents{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem;        
    align-items: center ;
    justify-content: center;
    overflow: hidden;
}
.what-we-offer .card-contents .card{
    background: var(--light-bg);
    border-radius: 12px;
    padding: 30px;
    border: .2px solid #E0DBFD;    
    /* transition: var(--transition);     */
    display: flex;
    align-items: center;
    column-gap: 25px;
    height: 100%;
}
.what-we-offer .card-contents .card img{
    object-fit: contain;    
    width: clamp(5vw, 12vw, 350px);
    animation: float 5s ease-in-out infinite;
}
.what-we-offer .card-contents .card h4{
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: var(--primary-font);
}
.what-we-offer .card-contents .card p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    opacity: .8;
}
.what-we-offer .card-contents .card.c1{
    grid-column:  1/7;
    grid-row: 1/2;
}
.what-we-offer .card-contents .card.c2{
    grid-column:  7/13;
    grid-row:1/2 ;
}
.what-we-offer .card-contents .card.c3{
    grid-column:  1/10;
    grid-row: 2/3;
}
.what-we-offer .card-contents .btn-secondary{
    grid-column: 10/13;
    grid-row: 2/3;
    height: clamp(100px, 200px, 900px);
    aspect-ratio: 1/1;
}
.what-we-offer .card-contents .btn-secondary img{
    height: 25px;
    width: 25px;
    padding-right: 12px;    
}

@media (max-width: 1024px){
    .what-we-offer{
        margin-top: 40px;
    }
    .what-we-offer .card-contents{
        gap: 1.5rem;
    }
    .what-we-offer .card-contents .card.c1{
        grid-column:  1/13;
    }
    .what-we-offer .card-contents .card.c2{
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .what-we-offer .card-contents .card.c3{
        grid-column:  1/13;
        grid-row: 3/3;
    }
    .what-we-offer .card-contents .btn-secondary{
        grid-column: 1/13;
        grid-row: 4/4;
        margin: 0 auto;
    }
}
@media (max-width: 768px){
    .what-we-offer .card-contents .card p {
        font-size: .9rem;
    }
    .what-we-offer .card-contents .card {
        padding: 20px;        
        flex-direction: column-reverse;
        justify-content: center;
    }    
    .what-we-offer .card-contents .card h4{
        font-size: 1.3rem;
    }
    .what-we-offer .card-contents .card img {
        height: 100px;
        width: 100px;
    }
    .what-we-offer .card-contents .btn-secondary {
        height: clamp(100px, 150px, 900px);        
    }
}

/* what-we-offer section ends*/

/* software in action */
.software-in-action{
    margin-top: 120px;
}
.in-action-contents{
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
}
.in-action-contents .in-action-card:nth-child(odd){    
    margin-top: 60px;
}
.in-action-contents .in-action-card h4{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
    font-family: var(--primary-font);
}
.in-action-contents .in-action-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    opacity: .8;
}
.in-action-contents .btn-primary{
    height: 42px;
}
.in-action-contents .btn-primary img{
    height: 30%;
    padding-right: 15px;
}
.software-in-action .btn-secondary{
    height: 200px;
    font-size: .8rem;
    margin: 20px auto 0;
}
.software-in-action .btn-secondary img{
    height: 20px;    
    padding-right: 12px;
}
@media (max-width: 768px){
    .software-in-action{
        margin-top: 60px;
    }
    .in-action-contents{
        grid-template-columns: repeat(1, 1fr);      
        row-gap: 30px;          
    }
    .in-action-contents .in-action-card:nth-child(odd) {
        margin-top: 0;
    }
    .in-action-contents .btn-primary {
        height: 35px;
    }
    .software-in-action .btn-secondary {
        height: 180px;        
        margin: 30px auto 0;
    }
}
/* software in action end*/

/* quick-start  */
.quick-start{
    margin-top: 120px;
}
.quick-start .quick-start-contents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;    
    row-gap: 30px;
}
.quick-start-contents .quick-start-card{
    position: relative;
    background: var(--light-bg);
    border-radius: 12px;
    padding: 40px;
    /* box-shadow: 0 0 1.5px var(--primary-color);     */
    transition: var(--transition) !important;    
    background:  #F5F3FF;
    height: fit-content;
}
.quick-start-contents .quick-start-card:hover{
    background-color: var(--primary-color);
}
.quick-start-contents .quick-start-card:hover h3{
    color: var(--light-bg);
}
.quick-start-contents .quick-start-card:hover p{
    color: var(--light-bg);
}
.quick-start-contents .quick-start-card:hover img{
    filter: var(--img-light);
}
.quick-start-contents .quick-start-card:nth-child(even){
    margin-top: 20px;
}
.quick-start-contents .quick-start-card img{
    position: absolute;    
    height: 15px;
    width: 15px;
    right: 30px;
    top: 30px;
    filter: var(--img-primary);
}
.quick-start-contents .quick-start-card h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 2.5rem;    
    font-family: var(--primary-font);
    color: var(--primary-color);
    opacity: .8;
}
.quick-start-contents .quick-start-card p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    opacity: .8;
}
.quick-start .btn-secondary{
    height: 200px;
    font-size: .9rem;
    margin: 40px auto 0;
}
.quick-start .btn-secondary img{
    height: 30px;    
    padding-right: 12px;
}
@media (max-width: 768px){
    .quick-start{
        margin-top: 60px;
    }
    .quick-start .quick-start-contents{
        grid-template-columns: repeat(1, 1fr);                
    }
    .quick-start-contents .quick-start-card:nth-child(even) {
        margin-top: 0px;
    }
    .quick-start-contents .quick-start-card{
        padding: 20px;
    }
    .quick-start-contents .quick-start-card h3 {
        font-size: 1.6rem;
        margin: 0 0 1.2rem;
    }
    .quick-start-contents .quick-start-card p {
        font-size: 1rem;
    }
}
/* quick-start  end*/

/* pricing */
.pricing{
    margin-top: 120px;
}
.pricing .pricing-contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;    
    row-gap: 30px;
}
.pricing .pricing-contents .pricing-card{
    background: #F5F3FF;
    padding: 25px 40px;
    border-radius: 25px;
}
.pricing .pricing-contents .pricing-card h3{
    margin-bottom: 12px;
}
.pricing .pricing-contents .pricing-card ul {
    list-style: none;            
}
.pricing .pricing-contents .pricing-card ul li{
    margin-bottom: 12px;
} 
.pricing .pricing-contents .pricing-card ul li::before {
    content: ""; 
    display: inline-block;
    width: 16px; /* Adjust size */
    height: 16px; /* Adjust size */
    background-image: url('/assets/icons/sparkle.png'); /* Replace with your image URL */
    background-size: contain; /* Ensure it fits */
    background-repeat: no-repeat;
    margin-right: 10px;
}
.pricing .pricing-contents .pricing-card .btn-primary{
    height: 40px;
}
@media (max-width: 1024px){
    .pricing .pricing-contents{
        column-gap: 20px;
    }
}
@media (max-width: 768px){
    .pricing{
        margin-top: 60px;
    }
    .pricing .pricing-contents{
        grid-template-columns: repeat(1, 1fr);          
        gap: 14px;      
    }
    .pricing .pricing-contents .pricing-card {
        background: #F5F3FF;
        padding: 18px 24px;
        border-radius: 25px;
    }
    .pricing .pricing-contents .pricing-card .btn-primary {
        height: 30px;
    }
}
/* pricing ends*/   

/* faq */
.faq{
    margin-top: 120px;
}
.faq .title{
    margin-bottom: calc(60px - .5em);
}
/* .accordion{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
} */
.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid var(--primary-color);
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--dark-color);
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: var(--primary-color);
}
.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}
.accordion img{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.accordion button[aria-expanded='true'] img{
    transform: rotate(90deg);
    filter: var(--img-primary);
}
.accordion button:hover img{
    filter: var(--img-primary);
}
.accordion button[aria-expanded='true'] {
    color: var(--primary-color);
}
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 2em 0;
    opacity: .8;
}
@media (max-width: 768px){
    .faq{
        margin-top: 60px;
    }
    .faq .title{
        margin-bottom: calc(30px - .5em);
    }
    .accordion button{
        padding: .5rem 0;
        font-size: 1.1rem;
    }
    .accordion button .accordion-title {
        padding: .5em 1.5em .5em 0;
        display: block;
        width: 95%;
        /* font-size: clamp(1rem, 1.1vw, 1.4rem); */
    }
    .accordion img{
        height: 15px;
        width: 15px;
    }
    .accordion button[aria-expanded='true'] + .accordion-content {
        max-height: 20em;
    }
    .accordion .accordion-content p {
        font-size: .9rem;
        margin: 1rem 0;
    }
}
/* faq ends*/

/* cto */
.cto{
    margin-top: 120px;
}
.cto .cto-button{        
    max-width: 80%;
    width: 100%;
    margin: 90px auto 0; 
    height: 250px;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    border: 5px solid var(--primary-color);
    border-radius: 130px;
    background: var(--primary-color);    
    position: relative;
    cursor: pointer;
    overflow: hidden;    
    transition: var(--transition) !important;    
}
.cto .cto-button img{
    height: 150px;
    width: 150px;
}.cto .cto-button > div{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    transition: var(--fast-transition);
}
.cto .cto-button .text2{
    top: 150%;
}
.cto .cto-button:hover::before{
    top: 100%;
}
.cto .cto-button:hover{
    background: var(--light-bg);
}
.cto .cto-button:hover .text1{
    top: -50%;    
}
.cto .cto-button:hover .text2{
    top: 50%;
    color: var(--primary-color);
}
.cto .cto-button:hover .text2 img{
    filter: var(--img-primary);
}
@media (max-width: 768px){
    .cto{
        margin-top: 60px;
    }
    .cto .cto-button{
        max-width: 90%;
        width: 100%;
        margin: 40px auto 0;
        height: 90px;
        font-size: 1.2rem;
        border: 3px solid var(--primary-color);
        border-radius: 130px;
        background: var(--primary-color);
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: var(--transition) !important;
    }
    .cto .cto-button img{
        height: 40px;
        width: 40px;
    }
}
/* cto ends*/

/* footer */
footer{
    background: var(--dark-color);
    color: white;    
    margin-top: 160px;
    overflow: hidden;
}
footer .footer-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative;
}
footer .logo{
    height: 35px;
    width: fit-content;
    margin-bottom: 10px;
}
.footer-container .footer-bg{
    position: absolute;
    transform: translate(50%, 50%);
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0.1;
    background-image:  linear-gradient(#6856e6 1px, transparent 1px), linear-gradient(to right, #6856e6 1px, var(--dark-bg) 1px);
    background-size: 40px 40px;    
    border-radius: 60%;
    -webkit-box-shadow: inset 0.5px 0 220px 100px #121212;
    -moz-box-shadow: inset 0.5px 0 220px 100px #121212;
    box-shadow: inset 0.5px 0 220px 100px #121212;
}
footer .short-cut-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}
footer .short-cut-menu .menu{
    display: flex;
    flex-direction: column;
}
footer .short-cut-menu .menu .menu-title{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 1.8rem;
    text-transform: capitalize;
}
footer .short-cut-menu .menu a{
    font-size: .9rem;
    margin-bottom: .8rem;
    transition: var(--fast-transition);
    text-transform: capitalize;
}
footer .short-cut-menu .menu a:hover{
    color: var(--primary-color);    
}
footer .address{
    font-size: .9rem;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 25px;    
}
footer .address a{
    transition: var(--fast-transition);
    display: flex;    
    align-items: center;
    column-gap: 8px;
}
footer .address a:hover{
    color: var(--primary-color);  
}
footer .address a img{
    height: 20px;
    width: 20px;
    filter: var(--img-primary);
    
}
@media (max-width: 768px){
    footer{
        margin-top: 80px;
    }
    footer .short-cut-menu{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    footer .short-cut-menu .menu .menu-title {
        margin-bottom: .5rem;
    }
    footer .address {
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
}
/* footer ends*/